<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MySuite" parallel="tests">

<test name="test1">
<!-- <groups>
<run>
<include name="smokeTest"></include>
<include name="functionalityTest"></include>
</run>
</groups>  -->

<parameter name="greet" value="helloworld"></parameter>
<parameter name="greet1" value="helloworld- today is monday"></parameter>
<classes>
<class name="com.wbl.testng.test.BasicTest">
</class>
</classes>
</test>
<test name="test2">
<classes>
<class name="com.wbl.testng.test.PrimeNumberTest"></class>
</classes>
</test> 
</suite>